@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #F7AFB1;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    border-bottom: 0.5px solid #333;
}

nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

#logo {
    width: 18%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: white;
    color: #F7AFB1;
}

nav .menu-btn i {
    margin-top: -3.5rem;
    margin-left: -4.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

